html {
   margin: 0px 0px 0px 0px;
   background-color: rgb(230, 146, 19);
}
.card-info {
   box-sizing: border-box;
   font-size: 20px;
   font-weight: normal;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin: 0px;
   border: 1px solid black;
   max-width: 350px;
   height: auto;
   justify-content: space-between;
   letter-spacing: 1px;
   padding: 10px;
   background-color: rgba(17, 182, 191, 0.8);
}
.card-info p {
   display: flex;
   flex-direction: row;
   text-align: center;
   margin: 0px 0px 10px 0px;
   align-items: center;
   justify-content: center;
}
.card {
   margin-top: 20px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   gap: 50px;
   align-items: center;
   justify-content: center;
}
img {
   width: 50px;
   margin-left: 5px;
}
.user {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.search {
width: auto;
height: auto;
}
.search input {
   outline: none;
   border: 2px solid black;
   width: 250px;
   height: 40px;
   font-size: 24px;
   padding-left: 30px;
   color: green;
}
.search input:focus::placeholder {
   color: transparent;
}