html, body {
   min-width: 1440px;
   font-family: Arial, Helvetica, sans-serif;
   background-image: url('./sounds.webp');
   background-position: 0% 50%;
}


.letter {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0 auto;
   align-content: center;
   width: 90%;
   height: 100vh;
   justify-content: space-between;
   gap: 1rem;
}
.key {
   color: chartreuse;
   background-color: rgba(18, 183, 201, 0.082);
   width: 100px;
   height: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 2px solid rgba(2, 78, 18, 0.537);
   text-shadow: 0 0 0.5rem;
   font-size: 1.7rem;
   border-radius: 5px;
   padding: 0.7rem;
   justify-content: space-evenly;

}
.some-sound {
      font-size: 0.8rem;
      letter-spacing: .1rem;
      color: #d5eb0d;
}
.play {
      transform: scale(1.2);
      border-color: #fcf802;
      text-transform: uppercase;
      box-shadow: 0 0 2rem #29c50ac5;
}