.home-page {
   margin: 0 auto;
   display: flex;
width: 800px;
border-radius: 20px;
flex-direction: column;
align-items: center;
justify-content: center;

}
.home-title {
font-size: 38px;
font-weight: normal;
margin-bottom: 10px;
color: beige;
}
.home-img {
width: 90%;
border-radius: 20px;
}