.photo-card {
width: 40%;
height: auto;
margin: 0 auto;
color: crimson;
padding: 5%;
box-sizing: border-box;
border: 1px solid rgb(57, 2, 134);
background-color: rgb(212, 168, 8);
}
.photo-gallery {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 row-gap: 40px;

}  
.photo-card-img {
   width: 95%;
}
.photo-card-text {
 color: azure;
 width: 95%;
}