

button {
   width: 200px;
   height: 50px;
   font-size: 20px;
   text-align: center;
   font-weight: normal;
   font-family: 'Times New Roman', Times, serif;
   color: chartreuse;
   background-color: rgb(202, 27, 27);
   border-radius: 8px;
   margin-left: 20px;
}

button:hover {
   border: 1px solid green;
   background-color: rgb(253, 253, 248);
   transform: scale(1.1);
   color: black;
}

.timer-box {
   font-size: 36px;
   color: gray;
   font-weight: normal;
   margin-bottom: 30px;
   width: 350px;
   align-items: center;
   text-align: center;
}

#root {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.timer {
      margin-top: 40px;
   row-gap: 40px;
   width: 700px;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}
.hidden {
   display: none;
}
label {
   margin-left: 20px;
   font-size: 1.5em;
   color: rgb(22, 6, 165);
}
input {
   height: 30px;
   overflow: hidden;
   margin-left: 5px;
   width: 140px;
   outline: none;
   border: 2px solid black;
   color: green;
   font-weight:  700;
}
input:focus::placeholder {
   color: transparent;
}
